<% provide(:title, 'All users') %> <h1>All users</h1>
<ul class="users">
  <%= will_paginate %>
<% @users.each do |user| %>
<li>
<%= gravatar_for user, size: 50 %>
<%= link_to user.name, user %> </li>
<% end %> </ul>
  <%= will_paginate %>